/* font-family: 'Changa';
font-family: 'IBM Plex Mono', monospace;
font-family: 'Special Elite', cursive; */

.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1586076100131-32505c71d0d2?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-size: 100vw;
  height: 100%;
  padding: 0 10%;
}

a {
  text-decoration: none;
}

.header-container {
  padding: 30px;
  height: 75px;
  align-content: space-between;
}
.title {
  font-family: "Special Elite";
  color: #3c3a8d;
}

.sub-title {
  font-family: "Changa";
  font-weight: 700;
}

#page-title {
  text-decoration: none;
  color: #368c44;
  font-size: 40px;
  margin: 30px;
}

#page-title:hover {
  color: #083e11;
}

.navLink {
  flex-flow: row;
  text-decoration: none;
  margin: 20px 40px;
  font-family: "Changa", sans-serif;
  color: #3c3a8d;
  cursor: pointer;
}

.navLink:hover {
  color: #7675bd;
}

.navBar {
  margin-top: 20px;
}

.thoughts-container {
  display: flex;
}

.thoughts {
  display: flex;
  width: 250px;
}

p {
  font-family: "IBM Plex Mono", monospace;
}

.about-text {
  padding: 0 10%;
  line-height: 2;
}

.moods-container {
  margin: 0 auto;
}

.mood-card {
  width: 50%;
  margin: 0 auto;
}

.login-container,
.signup-container {
  height: 100vh;
}

form {
  margin: 0 auto;
  margin-top: 20px;
}

label {
  color: #3c3a8d;
  display: inline-block;
  font-size: 14px;
}

input {
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  outline: none;
  border: 1.5px solid #5f826f;
  border-radius: 4%;
  padding: 3px 5px;
  width: 250px;
  opacity: 32%;
}

#password-label,
#username-label,
#email-label {
  text-align: left;
  font-family: "Changa";
}

#login-button,
#signup-button {
  margin: 20px 10px;
}

#submit-button {
  margin: 20px auto;
}

#signup-link,
#keep-link {
  color: #5f826f;
}

.button {
  width: 100px;
  padding: 5px;
  background-color: #e3d3a0;
  border: none;
  color: #5f826f;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #f9edc7;
}

.text-checkbox {
  display: flex;
  justify-content: center;
}

.checkboxes {
  margin: auto 10px;
  width: 150px;
  flex-direction: column;
  text-align: left;
}

.checkbox-input {
  display: inline;
  width: 20px;
}

.checkbox-label {
  margin: 10px;
  width: 125px;
  font-family: "IBM Plex Mono", monospace;
}
