/* font-family: 'Changa', sans-serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Special Elite', cursive; */

.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1586076100131-32505c71d0d2?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-size: 100vw;
  height: 100vh;
}

.header-container {
  padding: 30px;
}
.title {
  font-family: "Special Elite";
}

#page-title {
  font-size: 40px;
  margin: 20px 30px;
}

.navLink {
  flex-flow: row;
  text-decoration: none;
  padding: 20px;
  font-family: "Changa", sans-serif;
}

.navBar {
  justify-content: space-between;
}
